header {
    background-color: rgba(0,0,0,0);
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: auto;
    overflow: hidden;
    width: 100vw;
    align-items: center;
}
header img {
    width: 3rem;
    height: 3rem;
    align-items: center;
    margin-left: 5rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
}
.nav li {
    padding-right: 5rem;
}
.nav .sign {
    display: inline-block;
    background-color: rgb(30, 168, 214);
    opacity: 0.9;
    padding: 0.5rem 1rem;
    border: hidden;
    border-radius: 50px;
}
.nav a.active {
    text-decoration: underline;
}
.nav a:hover {
    color: Lightblue;
    text-decoration: underline;
}
.nav a.sign:hover {
    background-color: rgb(30, 168, 214);
    opacity: 1;
    color: white;
    text-decoration: none;
}
li.sign {
    flex-direction: flex-end;
}
