@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;1,200&display=swap');
body {
    font-family: 'Mulish', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url(./image/pexels-tobias-bjørkli-2113566\ \(1\).jpg);
}

h1 {
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 10rem;
    font-weight: 100;
}
.subtitle {
    margin-top: 0;
    font-size: 1rem;
}
.cta {
    margin-bottom: 4.5rem;
}
span.cta1 {
    background-color: darkcyan;
    padding: 1rem 1.5rem;
    border: hidden;
    border-radius: 0.5rem;
}